@{
    ViewData["Title"] = "Ошибка заполнения";
}

<div class="modal-content">
    <div class="modal-header">
        <h2 class="text-center">@ViewData["Title"]</h2>
       @* <button class="close" data-dismiss="modal" area-hidden="true"><i class="bi bi-x-circle"></i></button>*@
    </div>
    <div class="modal-body text-center">
        <h3>Неверно заполнена форма! Попробуйте ещё раз</h3>
        <h4>Вернитесь назад для заполнения</h4>
    </div>
</div>
